<div class="span12">
	<div class="row">
		<div class="span9">
			<div class="scat-container" style="width: 1000px; height: 200px;">
			</div>
			<div class="pc-container parcoords" style="width: 1000px; height: 200px;">
			</div>
			<div class="feature-container" style="width: 1000px; height: 600px;">
			</div>
			<div class="feature-container-cont" style="width: 1000px; height: 600px;">
			</div>
			<div class="feature-container-binary" style="width: 1000px; height: 600px;">
			</div>
		</div>
		<div class="span3" style="font-family: Ubuntu, Helvetica, sans-serif; font-size: 11px;">
			<div style="font-size: 12px;">
				Click on a circle at left to view a list of top local features below.<br/>
				Click on a feature in the list of top features to view scatter plots vs targets.<br/>
				Feature vs Preterm Scater Options:<br/>
				<input type="checkbox" id="decorate_fplot" checked="true">Decorate</input><br/>
				Color With:
				 <select id="color_feature"></select>
			</div>
			<div class="case-name" style="font-size: 14px;">
			</div>
			<div class="admix-output"></div>
			<div class="branch-output" style="overflow-y: scroll; height: 350px">
			</div>
			<input type="text" class="feature-search" placeholder="Find a feature..."></input>
			<br/>
			<div class="pathway-output">
			</div>
			<div >
				Feature True:<br/>
				<div class="true-output">
				</div><br/>
				Feature False:<br/>
				<div class="false-output">
				</div>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="span9">
			
		</div>
	</div<

</div>

